@Charset "utf-8";
/*CSS Document*/

h1{
	color: #CC0000;
}

button {
    background-color: aqua;
}


.bensClass {
	color: blue;
	font-weight: bold;
}

.best-activity {
    font-size: 1.4rem;
    border-bottom: 1px dotted orangered;
}

