@Charset "utf-8";
/*CSS Document*/

h1{
	color: #CC0000;
}

button {
    background-color: aqua;
}

.newStyleForStash {
	color: brown;
	font-size: 4em;
	font-weight: bold;
	border: dotted;
	border-width: 2em;
}
